{% extends "base.html" %}
{% load static %}

{% block title %}
    This Post Title
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post-detail.css" %}">
{% endblock %}

{% block content %}
    <section id="summary">
        <h2>Post Title</h2>
        <article>
            <img src="" alt="Post Title" />
            <adress>By Bpb</adress>
            <div>
                Last updated on <time>July 10th</time>
            </div>
        </article>
    </section>

    <main>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus convallis dapibus consectetur. Suspendisse et congue ante, at aliquet nisl. Nunc sed nulla vitae enim gravida egestas. Aenean vestibulum feugiat luctus. Aliquam congue ornare metus, vitae scelerisque nunc posuere eu. Vestibulum tristique enim sed nulla elementum, eu dapibus magna porttitor. Praesent cursus lacinia dui at tincidunt. Duis tincidunt vitae sem vel ornare. Suspendisse eleifend turpis ac sapien cursus vestibulum. Proin dapibus laoreet magna feugiat laoreet. Pellentesque in ultrices arcu. Ut suscipit lectus velit, quis dapibus enim gravida non.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus convallis dapibus consectetur. Suspendisse et congue ante, at aliquet nisl. Nunc sed nulla vitae enim gravida egestas. Aenean vestibulum feugiat luctus. Aliquam congue ornare metus, vitae scelerisque nunc posuere eu. Vestibulum tristique enim sed nulla elementum, eu dapibus magna porttitor. Praesent cursus lacinia dui at tincidunt. Duis tincidunt vitae sem vel ornare. Suspendisse eleifend turpis ac sapien cursus vestibulum. Proin dapibus laoreet magna feugiat laoreet. Pellentesque in ultrices arcu. Ut suscipit lectus velit, quis dapibus enim gravida non.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus convallis dapibus consectetur. Suspendisse et congue ante, at aliquet nisl. Nunc sed nulla vitae enim gravida egestas. Aenean vestibulum feugiat luctus. Aliquam congue ornare metus, vitae scelerisque nunc posuere eu. Vestibulum tristique enim sed nulla elementum, eu dapibus magna porttitor. Praesent cursus lacinia dui at tincidunt. Duis tincidunt vitae sem vel ornare. Suspendisse eleifend turpis ac sapien cursus vestibulum. Proin dapibus laoreet magna feugiat laoreet. Pellentesque in ultrices arcu. Ut suscipit lectus velit, quis dapibus enim gravida non.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus convallis dapibus consectetur. Suspendisse et congue ante, at aliquet nisl. Nunc sed nulla vitae enim gravida egestas. Aenean vestibulum feugiat luctus. Aliquam congue ornare metus, vitae scelerisque nunc posuere eu. Vestibulum tristique enim sed nulla elementum, eu dapibus magna porttitor. Praesent cursus lacinia dui at tincidunt. Duis tincidunt vitae sem vel ornare. Suspendisse eleifend turpis ac sapien cursus vestibulum. Proin dapibus laoreet magna feugiat laoreet. Pellentesque in ultrices arcu. Ut suscipit lectus velit, quis dapibus enim gravida non.
        </p>
    </main>
{% endblock %}